---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edges">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="WZK">
    <link rel="icon" type="image/x-icon" href="/img/WZK Favicon (1).png">
    <link rel="stylesheet" href="/css/PortfolioStyles.css" type="text/css">
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <title>WizK</title>
</head>
<body>
    <nav>
        <ul class="animate slideInDown animate--fast navbar">
            <li class="logo">WIZK</li>
            <li class="hideOnMobile"><a href="/">About Me</a></li>
            <li class="hideOnMobile"><a href="/portfolio">Portfolio</a></li>
            <li class="hideOnMobile"><a href="mailto:wizktec@gmail.com">Contact Me</a></li>
            <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
        <ul class="sidebar">
            <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a>
            </li>
            <li><a href="/">About Me</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="mailto:wizktec@gmail.com">Contact Me</a></li>
        </ul>
    </nav>
    <div class="header">
        <h1 id="animate slideInDown animate--slow">Portfolio</h1>
        <h6 id="animate slideInDown animate--slow">Check out my Youtube for all demos!</h6>
    </div>
    <div class="main">
        <div class="group">
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
            <div id="img">
                <img src="/img/original.jpg" alt="Fangler Prototype" width="50%" height="100%">
            </div>
            <div id="discript">
                <h1>Hack the North 2024: Fangler</h1>
                <p>This is an Arduino Hardware project that I was able to work on with a group of fellow high school students.
                    It is a fitness device that regulates body temperature based on weather and provides proper lighting at night.
                    <a href="https://devpost.com/software/fangler" style="color: aliceblue;">Link to Devpost Submission</a>
                </p>
            </div>
        </div>
        <div class="group">
=======
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
=======
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
=======
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
=======
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
=======
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
            <div id="vid">
                <iframe width="100%" height="100%" 
                src="https://www.youtube.com/embed/W6iDsVtBoCA?si=vwLcox8POMxaXWMe" 
                title="YouTube video player" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
                </iframe>
            </div>
            <div id="discript">
                <h1>Arduino Documentary #1</h1>
                <p>This is the first video in a series I am starting where I learn how to use the Arduino, 
                    I hope to learn as much as I can about circuitry and electronics.</p>
            </div>
        </div>
        
        <div class="group">
            <div id="vid">
                <iframe width="100%" height="100%" 
                src="https://www.youtube.com/embed/5aZ5x-nAvVA?si=rCuxRFFsUHO-BRuS" 
                title="YouTube video player" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
                </iframe>
            </div>
            <div id="discript">
                <h1>Lava Escape</h1>
                <p>This is the first game that I have fully completed and tested. It uses the Java language to create a game
                    where the user is a block trying to escape the rising lava in a volcano, using the falling ash blocks to jump
                    up. It is a score based system, meaning that the goal is to survive as long as possible!
                </p>
            </div>
    
        </div>

        <div class="group">
            <div id="vid">
                <iframe width="100%" height="100%" 
                src="https://www.youtube.com/embed/JbIsC9RpNSs?si=t2AgwnW28QyS_yIh" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
                </iframe>
            </div>
            <div id="discript">
                <h1>Making an Arcade Machine</h1>
                <p>This is a project that I have worked on during the summer of 2024, it is my take on a bartop arcade machine
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
<<<<<<< HEAD:wandering-wind/src/pages/portfolio.astro
                     made of MDF wood panels that I have cut into shape. It utilizes a used monitor and Raspberry Pi 4 2GB
                    as the screen and computer.
                </p>
            </div>
        </div>
        <div class="group">
            <div id="vid">
                <iframe width="100%" height="100%" 
                src="https://www.youtube.com/embed/qwvoPNThrJ0?si=Qh1lzCZBZVLeA2C1" 
                title="YouTube video player" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
                </iframe>
            </div>
            <div id="discript">
                <h1>Making an Arcade Machine Pt.2</h1>
                <p>This is the second part to my 2 part series in which I built my very own arcade machine. 
                    It utilizes a used monitor and Raspberry Pi 4 2GB as the screen and computer.
=======
                     made of MDF wood panels that I have cut into shape. It utilizes a used monitor and Raspberry Pi 4 2GB to
                    run Retropie, allowing me to run classic arcade emulators.
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
=======
                     made of MDF wood panels that I have cut into shape. It utilizes a used monitor and Raspberry Pi 4 2GB to
                    run Retropie, allowing me to run classic arcade emulators.
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
=======
                     made of MDF wood panels that I have cut into shape. It utilizes a used monitor and Raspberry Pi 4 2GB to
                    run Retropie, allowing me to run classic arcade emulators.
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
=======
                     made of MDF wood panels that I have cut into shape. It utilizes a used monitor and Raspberry Pi 4 2GB to
                    run Retropie, allowing me to run classic arcade emulators.
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
=======
                     made of MDF wood panels that I have cut into shape. It utilizes a used monitor and Raspberry Pi 4 2GB to
                    run Retropie, allowing me to run classic arcade emulators.
>>>>>>> parent of 2acfd27 (Added more vids):Portfoliopage.html
                </p>
            </div>
        </div>
        
        <div class="group">
            <div id="vid">
                <iframe width="100%" height="100%" 
                src="https://www.youtube.com/embed/LZaWQyHEUK4?si=mJN-MjZn_-9hBD_c" 
                title="YouTube video player" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
                </iframe>
            </div>
            <div id="discript">
                <h1>CREATE Design Challenge: BeatTrends Demo</h1>
                <p>This is a Project where I and a group of students used Python data visualization/manipulation
                    libraries to create graphs based on music data collected between the early 90s to 2020. 
                    We hoped to bring less popular genres of music to the mainstream media where the 
                    type of music is largely dominated by pop.
                </p>
            </div>
        </div>


    </div>
    <script src="/js/main.js" is:inline></script>
    <script src="/js/sidebar.js" is:inline></script>
</body>
</html>